@media (max-width: 1000px) {
    .face {
        .h1 {
            font-size: 40px;
            line-height: 71px;
            padding: 16px;
        }
    
        .mouth img {
            width: 100px;
        }
    }

    .circles-w li:nth-child(6) {
        display: none;
    }

    .circles-b li:nth-child(6) {
        display: none;
    }

    .circles-r li:nth-child(6) {
        display: none;
    }
}

@media (max-width: 940px){
    .circles-w li:nth-child(8) {
        left: 62%;
    }
    .circles-w li:nth-child(5) {
        left: 58%;
    }
}

@media (max-width: 800px) {
    .circles li:nth-child(8) {
        left: 62%;
    }
    .circles li:nth-child(5) {
        left: 58%;
    }
    .face .h1 {
        font-size: 35px;
        line-height: 50px;
        padding: 16px;
    }
}

@media (max-width: 500px) {
    .face .h1 {
        font-size: 30px;
        line-height: 50px;
        padding: 10px;
    }

    .circles li:nth-child(8) {
        left: 3%;
        animation-delay: 6.5s;
    }

    .circles li:nth-child(4) {
        display: none;
    }

    .circles li:nth-child(5) {
        display: none;
    }

    .face .mouth img {
        width: 80px;
    }
}